<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <style>
        .custom-bg {
            position: relative;
        }
        .video-bg {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
        }
    </style>
    <title>Registration</title>
</head>
<body class="bg-gray-100">
<div class="custom-bg flex justify-center items-center h-screen">
    <video autoplay loop muted class="video-bg">
        <source th:src="@{video20.mp4}" type="video/mp4">
    </video>
    <div class="background-color: #00ff;= p-8 rounded-lg shadow-md w-96">
        <h1 class="text-2xl font-semibold text-gray-400 mb-6">Registration</h1>
        <form th:action="@{/register}" method="post" id="registration-form">
            <div class="mb-4">
                <label for="email" class="block text-gray-400">Email:</label>
                <input type="text" class="form-input mt-2 w-full rounded-full" id="email" name="email" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-400">Password:</label>
                <input type="password" class="form-input mt-2 w-full rounded-full" id="password" name="password" required>
            </div>
            <div class="text-center">
                <button type="submit" class="bg-blue-100 hover:bg-blue-300 text-gray-800 font-bold py-2 px-4 rounded-full">Register</button>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/js/app2.js}"></script>
</body>
</html>
